<main class="main">
  <div
    class="currency"
    title="Изменить валюту"
    id="change-currency"
    (click)="changeCurrency()"
  >
    {{ currency }}
  </div>
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="/assets/images/logo.png" alt="Logo" loading="lazy" />
      </div>
      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a (click)="scrollTo(products)">Каталог</a>
          </li>
          <li class="menu__item">
            <a (click)="scrollTo(love)">О нас</a>
          </li>
          <li class="menu__item">
            <a (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="main__content">
    <div class="container">
      <img
        src="/assets/images/line1.png"
        alt="Line"
        class="line-1"
        loading="lazy"
      />
      <div class="main__info">
        <h1 class="main__title">Магия вкуса в каждой крошке</h1>
        <p class="main__text">
          Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное
          натуральное масло, свежие сливки, чистый мёд и отборная мука. Мы
          тщательно отбираем каждый компонент премиального печенья, стремясь
          подарить вам истинное кулинарное наслаждение.
        </p>
        <div class="main__action">
          <button
            class="button"
            id="main__action-button"
            (click)="scrollTo(products)"
          >
            Заказать
          </button>
        </div>
      </div>
      <img
        src="/assets/images/cookie.png"
        alt="Cookie"
        class="main__image"
        loading="lazy"
      />
    </div>
  </section>
  <section class="products" id="products" #products>
    <div class="container">
      <img
        src="/assets/images/line2.png"
        alt="Line"
        class="line-2"
        loading="lazy"
      />
      <div class="common-title">
        <h2 class="products__title">Выберите печенье</h2>
      </div>
      <div class="products__items">
        <div class="products__item" *ngFor="let product of productsData">
          <div class="product__item-image">
            <img
              src="/assets/images/products/{{ product.image }}"
              alt="Cookie product"
              loading="lazy"
            />
          </div>
          <div class="product__item-details">
            <div class="product__item-title">{{ product.title }}</div>
            <div class="product__item-text">{{ product.text }}</div>
            <div class="product__item-extra">
              <div class="product__item-info">
                <div class="product__item-price">
                  {{ product.price }} {{ currency }}
                </div>
                <div class="products__item-weight">{{ product.weight }}</div>
              </div>
              <button class="button violet-button" (click)="scrollTo(order, product)">
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="love" id="love" #love>
    <div class="container">
      <h2 class="common-title">Пекарня с любовью</h2>
      <div class="love__items">
        <div class="love__item love__item-white">
          <div class="love__item-title">
            Приготовлено с заботой, чтобы радовать вас каждый день
          </div>
          <p class="love__item-text">
            Мы с гордостью представляем наше печенье, которое мы выпекаем
            вручную каждый день с 1995 года, используя только лучшие
            ингредиенты. Погрузитесь в мир изысканных лакомств, приготовленных
            с применением передовых технологий, и насладитесь их неповторимым
            вкусом.
          </p>
        </div>
        <div class="love__item-image">
          <img src="/assets/images/love.png" alt="Love" loading="lazy" />
        </div>
      </div>
    </div>
  </section>
  <section class="order" id="order" #order>
    <img
      src="/assets/images/line3.png"
      alt="Line"
      class="line-3"
      loading="lazy"
    />
    <div class="container">
      <div class="common-title">Закажите печенье</div>
      <img
        src="/assets/images/breadcrumbs.png"
        alt="breadcrumbs"
        class="order__bg-img"
        loading="lazy"
      />
      <div class="order__block">
        <div class="order__block-form">
          <p class="order__block-form-text">
            Откройте для себя волшебство вкуса с нашим премиальным печеньем!
            Закажите прямо сейчас и окунитесь в мир сладких наслаждений.
          </p>
          <form class="order__block-form-inputs" [formGroup]="form">
            <input
              type="text"
              placeholder="Выберите печенье"
              id="product"
              formControlName="product"
              [class]="{
                error:
                  form.get('product')?.invalid &&
                  (form.get('product')?.dirty || form.get('product')?.touched)
              }"
              readonly
            />
            <input
              type="text"
              placeholder="Ваше имя"
              id="name"
              formControlName="name"
              [class]="{
                error:
                  form.get('name')?.invalid &&
                  (form.get('name')?.dirty || form.get('name')?.touched)
              }"
            />
            <input
              type="text"
              placeholder="Ваш телефон"
              id="phone"
              formControlName="phone"
              [class]="{
                error:
                  form.get('phone')?.invalid &&
                  (form.get('phone')?.dirty || form.get('phone')?.touched)
              }"
            />
            <button
              class="button violet-button"
              id="order-action"
              (click)="confirmOrder()"
              [disabled]="form.invalid"
            >
              Оформить заказ
            </button>
          </form>
        </div>
        <div class="order__block-image">
          <img
            src="/assets/images/order.png"
            alt="Order cookie"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="Logo" loading="lazy" />
    </div>
    <div class="rigths">Все права защищены</div>
  </footer>
</main>
