/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Steppe-Book";
  src: url(../assets/fonts/Steppe-Book.ttf);
}

@font-face {
  font-family: "Steppe-ExtraBold";
  src: url(../assets/fonts/Steppe-ExtraBold.ttf);
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #5243f4;
  font-family: "Steppe-Book", sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: white;
  color: #5243f4;
  border-radius: 60px;
  padding: 18px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 178px;
  height: 58px;
  transition: all 0.7s;
  outline: none;
  border: none;
}

.violet-button {
  background-color: #5243f4;
  color: white;
}

.button:disabled{
  cursor:not-allowed;
  opacity: 0.6;
  color: grey;
  background-color: #343434;
}

.button:hover:not(:disabled) {
  background-color: #5243f4;
  color: white;
  border: 1px solid white;
  transition: all 0.7s;
}

.violet-button:hover:not(:disabled) {
  background-color: white;
  color: #5243f4;
  border: 1px solid #5243f4;
  transition: all 0.7s;
}

.common-title {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
}
